/*
  -----------------
  App
  -----------------
*/
.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-header {
  min-height: 20vh;
}

.App-title {
  font-size: 1em;
}

.App-nav {
  margin: 0 10px;
  font-size: 0.8em;
}

.App-link {
  color: #61dafb;
}

.App-main {
  min-height: 60vh;
  display: flex;
}

/*
  -----------------
  Home
  -----------------
*/
.Home {
  min-height: 100%;
  margin: auto;
}
